* *::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  padding-left: 10rem;
}

.main {
  display: flex;
  justify-content: center;
  gap: 6rem;
}

.recent-scores {
  width: 40%;
}

.recent-header {
  display: flex;
  justify-content: space-between;
}

li {
  padding: 0.5rem;
}

.scores-tab {
  list-style: none;
  border: 1px solid black;
  padding: 0;
}

ul li:nth-child(even) {
  background-color: grey;
}

button {
  background-color: white;
  width: 8rem;
  padding: 0.5rem;
  float: right;
}

form {
  width: 15rem;
}

input[type=text],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}
